.profile {
  max-width: 120px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

td {
  vertical-align: top;
}

tr {
  border-bottom:1px solid black;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
